.DS_Store
node_modules/
selenium-debug.log
test/unit/coverage
test/e2e/reports
target/
.settings/
.idea/
*.iml
*.project
*.classpath
.idea/
.git/
.history/
*.log
Thumbs.db
db.json
*.log
.deploy*/
public/
db.json
dist/
npm-debug.log.*
.vs
.vscode
# package-lock.json
.deploy_git
Icon?
